@use './variables.scss' as *;

button.p-button {
  background-color: $yellow !important;
  color: $black !important;
  border: none;
  box-shadow: none !important;

  &:hover {
    background-color: lighten($yellow, 20%) !important;
  }

  &.danger {
    background-color: $red !important;
    color: $white !important;

    &:hover {
      background-color: lighten($red, 20%) !important;
    }
  }
}
